* {
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
    color: $secondary-color;
    font-family: 'Press Start 2P', sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    text-align: center;
}